<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868884109886-badajmdp75k6f6tj73038e0qai436b5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868884109886-badajmdp75k6f6tj73038e0qai436b5k</string>
	<key>API_KEY</key>
	<string>AIzaSyDlzdkYosy6sf7uqOt1IxCbcXlwIoBeCOA</string>
	<key>GCM_SENDER_ID</key>
	<string>868884109886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNote</string>
	<key>PROJECT_ID</key>
	<string>flutter-note-dbb3a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-note-dbb3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868884109886:ios:d1b9615093d9b95e904f6f</string>
</dict>
</plist>